.elementor-kit-7{--e-global-color-primary:#7A71FE;--e-global-color-secondary:#020024;--e-global-color-text:#EAE9FC;--e-global-color-accent:#5A18C3;--e-global-color-6f3d8ef:#FFFFFF;--e-global-color-b2a76b8:#0C0C0C;--e-global-color-febbee4:#171717;--e-global-color-68d4d04:#2A2A2A;--e-global-color-795371d:#21213D;--e-global-typography-primary-font-family:"Inter";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Inter";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;background-color:#0C0C0C;}.elementor-kit-7 e-page-transition{background-color:#FFBC7D;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */html, body{
    overflow-x: hidden
        !impotant;
}


::-webkit-scrollbar{
    width: 0.4vw;
    background: #777;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(transparent,#141414);
    background: linear-gradient(transparent,#141414);
    border-radius: 20px;
}/* End custom CSS */